[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Xylot/init.lua
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/Xylot/.tmux
[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/Xylot/.zsh
